Flask==2.0.1
Flask-WTF==0.15.1
WTForms==2.3.3
python-dotenv==0.19.0
pandas
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0
google-auth
flask-cors
flask_cors
Flask-Login==0.6.3
Werkzeug==3.0.1